@{
    ViewBag.Title = "Welcome to Dallin's Top 5 Restaurants in the Provo Area!";
}

<!--Allows my program to enumerate through the list of FavRestaurants objects-->
@model IEnumerable<Assignment4.Models.FavRestaurants>

<div class="text-center">
    
    <!--Creates the table to store the properties of the objects-->
    <table class="table">
        <thead class="bg-primary text-white text-center">
            <tr>
                <th>Rank</th>
                <th>Restaurant Name</th>
                <th>Favorite Dish</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Website</th>
            </tr>
        </thead>

        <tbody>
            <!--Enumerates through each object in the model to print out its attributes-->
            @foreach (FavRestaurants f in Model)
            {
            <tr>
                <td>@f.Rank</td>
                <td>@f.RestaurantName</td>
                <td>@f.FavDish</td>
                <td>@f.Address</td>
                <td>@f.Phone</td>

                <!--Ensures "Coming soon." isn't displayed as a link-->
                @if (f.Website == "Coming soon.")
                {
                    <td>@f.Website</td>
                }
                else
                {
                    <td><a href="@f.Website">@f.Website</a></td>
                }
                
            </tr>
            }
        </tbody>
    </table>
</div>


